disable:
  - traefik
cluster-init: true
kube-apiserver-arg:
  - "oidc-issuer-url=https://argocd.{{ cluster_domain }}/api/dex"
  - "oidc-client-id=headlamp"
  - "oidc-username-claim=email"
  - "oidc-groups-claim=groups"
